body {
      background-color: #565656;
	  font-family: "Nunito", regular;
    }


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 70px;
  background: #565656;
  display: flex;
  justify-content: space-between;
  align-items: left;	
  z-index: 100;
  }

.logo {
width: 20px;
  }

.navbar a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding-right: 80px;

}

.logoschermata {
padding-top: 100px;
padding-bottom:70px;
text-align: center;
	}




.works {	
border-radius: 25px 25px 0px 0px; 
text-align: center;
margin: 0 auto;
}

.magazine {	
text-align: center;
margin: 0 auto;
}

.brochure {	
text-align: center;
margin: 0 auto;
}

.label {
text-align: center;
border-radius: 0px 0px 25px 25px; 
margin: 0 auto;
padding-bottom: 10px;
}

.fondo {
text-align: center;
padding-top: 20px;
padding-bottom: 40px;
}





		
		

      
            


