body {
      background-color: white;
	  font-family: "Poppins", regular;
    }


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  padding: 20px 100px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: left;
  z-index: 100;
  }

.logo {
width: 20px;
  }

.navbar a {
  font-size: 18px;
  color: rgb(16,16,16);
  font-weight: 500;
  text-decoration: none;
  padding-right: 140px;

}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	}



.rivista1 {	
	width: 50%; 
}





		
		

      
            


