body {
      background-color: #2b2d42;
      font-family: 'TT Chocolates', sans-serif;
      margin: 0;
      padding:0;
    }


.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 70px;
  background: #2b2d42;
  display: flex;
  justify-content: space-between;
  align-items: left;	
  z-index: 100;
  margin-bottom: 30px;
  border: 1px solid yellow;
  }

.logo {
width: 30px;
border: 1px solid green;
  }

.navbar a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-right: 100px;
 border: 1px solid orange;
}

.landingpage {
display: flex;
flex-direction: row;
flex-wrap: wrap;
padding-bottom: 80px;
border: 1px solid yellow;
}

.logoschermata {
border: 1px solid red;
display: flex;
flex-direction: row;
height: 430px;
text-align:center;
margin-top: 100px;
margin-left: 80px;
}

.descrizione {
border: 1px solid green;
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-size: 60px;
margin-top: 100px;
margin-left: 80px;
width: 450px;
}


.works {	
border-radius: 0px 0px 0px 0px; 
text-align: center;
margin: 0 auto;
padding-bottom: 40px;
padding-top: 15px;
}

.magazine {
border-radius: 10px 10px 10px 10px;	
text-align: center;
display: flex;
flex-direction: row;
margin: 0 auto;
margin-bottom: 40px;
padding-bottom: 50px;	
}

.testomagazine {	
text-align: center;
display: flex;
flex-direction: column;
margin: 0 auto;
border: 1px solid black;
width:420px;
}

.brochure {
border-radius: 10px 10px 10px 10px;	
text-align: center;
display: flex;
flex-direction: row;
margin: 0 auto;
margin-bottom: 40px;
padding-bottom: 50px;	
}

.testobrochure {	
text-align: center;
display: flex;
flex-direction: column;
margin: 0 auto;
border: 1px solid black;
width:420px;
}

.label {
text-align: center;
border-radius: 10px 10px 10px 10px; 
margin: 0 auto;
padding-bottom: 50px;
margin-bottom: 30px;
}

.footer {
display:flex;
flex-direction: row;
height: 430px;
}

.containercontatti {
text-align: center;
border-widht: 2px;
margin-top: 30px;
border-color: 1px solid white;
}

.altricontatti {
text-align: left;
margin-top: 40px;
margin-left: 30px;
border-color: 1px solid white;
}

.servizi {
text-align: left;
margin-top: 40px;
margin-left: 100px;
border-color: 1px solid white;
}
	
.form-control1 {
margin-top: 20px;
margin-bottom: 10px;
margin-left: 10px;
background-color: #2b2d42;
border-radius: 5px 5px 5px 5px;
border-color: white;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 200px;
}

.form-control2 {
margin-top: 20px;
margin-bottom: 10px;
margin-left: 12px;
background-color: #2b2d42;
border-radius: 5px 5px 5px 5px;
border-color: white;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 200px;
}	

.form-control3 {
margin-top: 20px;
margin-bottom: 10px;
margin-left: 12px;
background-color: #2b2d42;
border-radius: 5px 5px 5px 5px;
border-color: white;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 10px;
padding-right: 200px;
}

.form-group3 {
margin-bottom:20px;
}

.form-group4 {
margin-top: 20px;
margin-bottom: 20px;
}	

.robot {
margin-left: 200px;
margin-right: 200px;
}

@media (max-width: 480px){
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 70px;
  background: #2b2d42;
  display: flex;
  justify-content: space-between;
  align-items: left;	
  z-index: 100;
  margin-bottom: 30px;
  border: 1px solid yellow;
  }}

@media (max-width: 480px){
.navbar a {
  font-size: 10px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-right: 50px;
 border: 1px solid orange;
}
  }}

@media (max-width: 480px){
.logo {
width: 20px;
border: 1px solid green;
  }}

@media (max-width: 480px){
.landingpage {
display: flex;
flex-direction: row;
padding-bottom: 80px;
border: 1px solid white;
}}

@media (max-width: 480px){
.logoschermata {
border: 1px solid red;
display: flex;
flex-direction:row;
height: 200px;
text-align:center;
margin-top: 40px;
margin-left: 20px;
}}

@media (max-width: 480px){
.descrizione {
border: 1px solid green;
display: flex;
flex-direction: row;
font-size: 30px;
margin-top: 20px;
margin-left: 20px;
}}


@media (max-width: 480px){
.magazine {	
text-align: center;
margin: 0 auto;
margin-bottom: 40px;	
padding-bottom: 50px;	
}}


 .swiper-container{
            position: relative;
            width: 600px;
            max-width: 600px;
            overflow: hidden;
	    margin-left:80px;
	    margin-right:80px;
	    border: 5px solid purple;	
        }
        .swiper-wrapper {
            display: flex;
            transition: transform 0.3s ease-in-out;
        }
        .swiper-slide {
            min-width: 100%;
            box-sizing: border-box;
        }
        .swiper-slide img {
            width: 600px;
            display: block;
        }
        .swiper-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
        }
        .swiper-button.prev {
            left: 10px;
        }
        .swiper-button.next {
            right: 10px;
        }




.swiper-container2 {
            position: relative;
            width: 600px;
            max-width: 600px;
            overflow: hidden;
	    margin-left:80px;
	    margin-right:80px;
	    border: 5px solid purple;	
        }
        .swiper-wrapper2 {
            display: flex;
            transition: transform 0.3s ease-in-out;
        }
        .swiper-slide2 {
            min-width: 100%;
            box-sizing: border-box;
        }
        .swiper-slide2 img {
            width: 600px;
            display: block;
        }
        .swiper-button2 {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
        }
        .swiper-button.prev2 {
            left: 10px;
        }
        .swiper-button.next2 {
            right: 10px;
        }





.back-to-top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #2b2d42;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 18px;
            cursor: pointer;
            display: none; /* Nasconde il bottone quando sei sulla home */
            z-index: 1000;
        }
        .back-to-top.show {
            display: block; /* fa vedere il bottone quando ha la classe show */
	    border: 2px solid white;
        }




		

      
            


